h1
{
	text-align: center;
}

a:hover {
    color: #FF00FF;
}
.notTheSameAsTheOthers
{
	text-align:right;
}

.yeahImDifferent
{
	text-align: center;
}
img:hover {
    opacity: 0.5;
}
body
{
	background-color: black;
}

#mainBody
{
	width: 650px;
	margin: 20px auto;
	padding: 20px;
	background-color: #ffffff;
	color: #000000;
}

#errors
{
	background-color: red;
}

#successes
{
	background-color: green;
}
